@model IEnumerable<BHAMCApp.Models.FTMAMA>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BhMama.cshtml";
}

@*<p>
    <a class="text-info" asp-action="Create">Create New</a>
</p>*@
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a type="button" asp-action="Create" class="btn btn-sm btn-outline-secondary">Create New</a>
            <a type="button" asp-action="Ftatu" class="btn btn-sm btn-outline-secondary">Export-excel</a>
        </div>
    </div>
</div>
<table class="table table-bh text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q1)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Q1_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q2_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q3_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q8_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q9)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q10)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q11)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q12)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q13)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q13_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q14)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q15)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q16)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q17)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q18)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q19)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q20)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q21)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q22)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q23)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q24)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q25)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q26)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProblemsDiagnosis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManagementFT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateVisit6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedByUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedByUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edited)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q1)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Q1_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q2_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q3_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q4_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q6_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q8_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q13_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q19)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q20)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q21)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q22)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q24)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q25)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q26)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemsDiagnosis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagementFT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateVisit6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedByUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edited)
        </td>*@
            <td>
                <a class="text-info" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="text-info" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a class="text-info" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
