@model RoleEdit


@{
    ViewData["Title"] = "Add/remove Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">

        <h4 class="text-info"> <cite>@Model.RoleName Role</cite>  </h4>

    </div>
</div>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Edit" method="post">


    <input type="hidden" name="roleName" value="@Model.RoleName.Name" />
    <input type="hidden" name="roleId" value="@Model.RoleName.Id" />


    <div class="row">

        <div class="col-md-12 jumbodm text-white">


            @if (Model.NotMembersToRole.Count() == 0)
            {
                <div class="row">
                    <div class="col-md-4" style="border-bottom:solid">
                        <p class="text-info">
                            All User/Users are member to this Role.
                        </p>
                    </div>
                </div>

            }

            else
            {
                <div class="row">
                    <div class="col-md-6" >
                        <p  >
                            Not Members of this
                            <span class="text-info"> @Model.RoleName </span>role, Add users to this role
                        </p>
                    </div>
                </div>

                @foreach (ApplicationUser userap in Model.NotMembersToRole)
                {

                    <div class="row">
                        <div class="col-md-4">
                            @userap.UserName
                        </div>

                        <div class="col-md-4">
                            <input type="checkbox" name="IdToAdd" value="@userap.Id">
                        </div>

                    </div>

                }
            }

        </div>

    </div>

    <div class="row">

        <div class="col-md-12  jumbodm text-white">

            @if (Model.MemberToRole.Count() == 0)
            {
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-info">
                            No Users Are Members
                        </p>
                    </div>
                </div>

            }

            else
            {
                <div class="row">
                    <div class="col-md-6">
                        <p >Members of this <span class="text-info"> @Model.RoleName </span>role, Remove users to this role</p>
                    </div>
                </div>

                @foreach (ApplicationUser userap in Model.MemberToRole)
                {

                    <div class="row">

                        <div class="col-md-4">
                            @userap.UserName
                        </div>

                        <div class="col-md-4">
                            <input type="checkbox" name="IdToDelete" value="@userap.Id">
                        </div>

                    </div>

                }
            }

        </div>

    </div>

    @*<h6 class="bg-info p-1 text-white">Remove this  @Model.Role.Name role to..</h6>*@

    <button type="submit" class="btn btn-bh">Add/Remove Role</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


@section Scripts
 {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
