@model BHAMCApp.Models.Bhamc

@{
    ViewData["Title"] = "Edit";
}


<div class="row text-muted">
    <h5>Edit Record</h5>
</div>

<div class="row">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>


<form method="post">
    <div class="row text-white justify-content-between">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="row jumbodm">
            <div class="col-md-12 text-info">
                <h5>GENERAL INFORMATION</h5>
            </div>
            <div class="col-md-2">
                <label asp-for="InterviewerName" class="control-label"></label>
                <input asp-for="InterviewerName" id="nname" class="form-control" />
                <span asp-validation-for="InterviewerName" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="InterviewDate" class="control-label"></label>
                <input asp-for="InterviewDate" class="form-control" />
                <span asp-validation-for="InterviewDate" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="QuestionnaireNo" class="control-label"></label>
                <input asp-for="QuestionnaireNo" class="form-control" />
                <span asp-validation-for="QuestionnaireNo" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="AntenatalCare" class="control-label"></label>
                <input asp-for="AntenatalCare" class="form-control" />
                <span asp-validation-for="AntenatalCare" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="GestationalAge" class="control-label"></label>
                <input asp-for="GestationalAge" class="form-control" />
                <span asp-validation-for="GestationalAge" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="DateMenstruation" class="control-label"></label>
                <input asp-for="DateMenstruation" class="form-control" />
                <span asp-validation-for="DateMenstruation" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="ExpectedDate" class="control-label"></label>
                <input asp-for="ExpectedDate" class="form-control" />
                <span asp-validation-for="ExpectedDate" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="HospitalName" class="control-label"></label>
                @*<input asp-for="HospitalName" class="form-control" />*@
                <select asp-for="HospitalName" class="form-control">
                    <option value=""></option>
                    <option>Majengo</option>
                    <option>Pasua </option>

                </select>
                <span asp-validation-for="HospitalName" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="PostNatalCare" class="control-label"></label>
                <input asp-for="PostNatalCare" class="form-control" />
                <span asp-validation-for="PostNatalCare" class="text-danger"></span>
            </div>


        </div>
        @*..........SOCIO-DEMOGRAPHIC CHARACTERISTICS.....*@
        <div class="row jumbodm">
            <div class="col-md-12 text-info">
                <h5>SOCIO-DEMOGRAPHIC CHARACTERISTICS</h5>
            </div>
            <div class="col-md-3">
                <label asp-for="Q1" class="control-label"></label>
                <input asp-for="Q1" class="form-control" />
                <span asp-validation-for="Q1" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q2" class="control-label"></label>
                <input asp-for="Q2" class="form-control" />
                <span asp-validation-for="Q2" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q3" class="control-label"></label>
                <select asp-for="Q3" id="nQ3" class="form-control"
                        asp-items="Html.GetEnumSelectList<E3>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q3" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="OthersQ3" class="control-label"></label>
                <input asp-for="OthersQ3" class="form-control" />
                <span asp-validation-for="OthersQ3" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q4" class="control-label"></label>
                <select asp-for="Q4" id="nQ4" class="form-control"
                        asp-items="Html.GetEnumSelectList<E4>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q4" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="OthersQ4" class="control-label"></label>
                <input asp-for="OthersQ4" class="form-control" />
                <span asp-validation-for="OthersQ4" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Q5" class="control-label"></label>
                <select asp-for="Q5" id="nQ5" class="form-control"
                        asp-items="Html.GetEnumSelectList<E5>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q5" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q6" class="control-label"></label>
                <select asp-for="Q6" class="form-control"
                        asp-items="Html.GetEnumSelectList<E6>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q6" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q7" class="control-label"></label>
                <input asp-for="Q7" class="form-control" />
                <span asp-validation-for="Q7" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q8" class="control-label"></label>
                <select asp-for="Q8" class="form-control"
                        asp-items="Html.GetEnumSelectList<E8>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q8" class="text-danger"></span>
            </div>
            <div class="col-md-8">
                <label asp-for="Q9" class="control-label"></label>
                <select asp-for="Q9" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q9" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q10" class="control-label"></label>
                <select asp-for="Q10" id="nQ10" class="form-control"
                        asp-items="Html.GetEnumSelectList<E10>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q10" class="text-danger"></span>
            </div>
            <div class="col-md-2 ">
                <label asp-for="OthersQ10" class="control-label"></label>
                <input asp-for="OthersQ10" class="form-control" />
                <span asp-validation-for="OthersQ10" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q11" class="control-label"></label>
                <input asp-for="Q11" class="form-control" />
                <span asp-validation-for="Q11" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <p>Q12. Do you own the following?</p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q12_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q12_1" />
                            </div>
                            <div class="col-md-5">
                                @Html.DisplayNameFor(model => model.Q12_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q12_2" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q12_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q12_3" />
                            </div>
                            <div class="col-md-5">
                                @Html.DisplayNameFor(model => model.Q12_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q12_4" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q12_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q12_5" />
                            </div>
                            <div class="col-md-5">
                                @Html.DisplayNameFor(model => model.Q12_6)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q12_6" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q12_7)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q12_7" />
                            </div>

                        </div>

                    </div>

                </div>


            </div>

            <div class="col-md-3">
                <label asp-for="Q13" class="control-label"></label>
                <select asp-for="Q13" id="nQ13" class="form-control"
                        asp-items="Html.GetEnumSelectList<E13>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q13" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="OthersQ13" class="control-label"></label>
                <input asp-for="OthersQ13" class="form-control" />
                <span asp-validation-for="OthersQ13" class="text-danger"></span>
            </div>
            <div class="col-md-4" id="nQ14">
                <label asp-for="Q14" class="control-label"></label>
                <input asp-for="Q14" class="form-control" />
                <span asp-validation-for="Q14" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q15" class="control-label"></label>
                <select asp-for="Q15" id="nQ15" class="form-control"
                        asp-items="Html.GetEnumSelectList<E15>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q15" class="text-danger"></span>
            </div>
            <div class="col-md-2 ">
                <label asp-for="OthersQ15" class="control-label"></label>
                <input asp-for="OthersQ15" class="form-control" />
                <span asp-validation-for="OthersQ15" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Q16" class="control-label"></label>
                <select asp-for="Q16" class="form-control"
                        asp-items="Html.GetEnumSelectList<E16>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q16" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q17" class="control-label"></label>
                <select asp-for="Q17" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q17" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q18" class="control-label"></label>
                <select asp-for="Q18" id="nQ18" class="form-control"
                        asp-items="Html.GetEnumSelectList<E18>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q18" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="OthersQ18" class="control-label"></label>
                <input asp-for="OthersQ18" class="form-control" />
                <span asp-validation-for="OthersQ18" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q19" class="control-label"></label>
                <select asp-for="Q19" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q19" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="Q20" class="control-label"></label>
                <select asp-for="Q20" id="nQ20" class="form-control"
                        asp-items="Html.GetEnumSelectList<E20>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q20" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="OthersQ20" class="control-label"></label>
                <input asp-for="OthersQ20" class="form-control" />
                <span asp-validation-for="OthersQ20" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q21" class="control-label"></label>
                <select asp-for="Q21" id="nQ21" class="form-control"
                        asp-items="Html.GetEnumSelectList<E21>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q21" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <p>Q22. Of what kind?</p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q22_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q22_1" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q22_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q22_2" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q22_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q22_3" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q22_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q22_4" id="nQ22" />
                            </div>


                        </div>

                    </div>

                </div>


            </div>

            <div class="col-md-3">
                <label asp-for="OthersQ22_4" class="control-label"></label>
                <input asp-for="OthersQ22_4" class="form-control" />
                <span asp-validation-for="OthersQ22_4" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="Q23" class="control-label"></label>
                <select asp-for="Q23" class="form-control"
                        asp-items="Html.GetEnumSelectList<E23>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q23" class="text-danger"></span>
            </div>
        </div>

        @*......REPRODUCTIVE HEALTH........*@
        <div class="row jumbodm">
            <div class="col-md-12 text-info">
                <h5>REPRODUCTIVE HEALTH</h5>
            </div>
            <div class="col-md-2">
                <label asp-for="Q24" class="control-label"></label>
                <input asp-for="Q24" id="nQ24" class="form-control" />
                <span asp-validation-for="Q24" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q25" class="control-label"></label>
                <select asp-for="Q25" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q25" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q26" class="control-label"></label>
                <input asp-for="Q26" class="form-control" />
                <span asp-validation-for="Q26" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q27" class="control-label"></label>
                <select asp-for="Q27" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q27" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q28" class="control-label"></label>
                <select asp-for="Q28" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q28" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q29" class="control-label"></label>
                <input asp-for="Q29" class="form-control" />
                <span asp-validation-for="Q29" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q30" class="control-label"></label>
                <input asp-for="Q30" class="form-control" />
                <span asp-validation-for="Q30" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q31" class="control-label"></label>
                <select asp-for="Q31" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q31" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q32" class="control-label"></label>
                <select asp-for="Q32" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q32" class="text-danger"></span>
            </div>
            <div class="col-md-3 ">
                <label asp-for="Q32_1" class="control-label"></label>
                <input asp-for="Q32_1" class="form-control" />
                <span asp-validation-for="Q32_1" class="text-danger"></span>
            </div>
            <div class="col-md-9">
                <label asp-for="Q33" class="control-label"></label>
                <select asp-for="Q33" id="nQ33" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q33" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q34" class="control-label"></label>
                <select asp-for="Q34" class="form-control"
                        asp-items="Html.GetEnumSelectList<E34>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q34" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q35" class="control-label"></label>
                <select asp-for="Q35" id="nnQ35" class="form-control"
                        asp-items="Html.GetEnumSelectList<E35>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q35" class="text-danger"></span>
            </div>
            <div class="col-md-4 ">
                <label asp-for="OthersQ35" class="control-label"></label>
                <input asp-for="OthersQ35" class="form-control" />
                <span asp-validation-for="OthersQ35" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q36" class="control-label"></label>
                <select asp-for="Q36" id="nnQ36" class="form-control"
                        asp-items="Html.GetEnumSelectList<E36>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q35" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="OthersQ36" class="control-label"></label>
                <input asp-for="Q36" class="form-control" />
                <span asp-validation-for="OthersQ36" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q37" class="control-label"></label>
                <input asp-for="Q37" class="form-control" />
                <span asp-validation-for="Q37" class="text-danger"></span>
            </div>
        </div>

        @*............INFORMATION ON PARTNER AND INFECTIOUS DISEASE...........*@
        <div class="row jumbodm">
            <div class="col-md-12 text-info">
                <h5>INFORMATION ON PARTNER AND INFECTIOUS DISEASE</h5>
            </div>
            <div class="col-md-2">
                <label asp-for="Q38" class="control-label"></label>
                <input asp-for="Q38" class="form-control" />
                <span asp-validation-for="Q38" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q39" class="control-label"></label>
                <select asp-for="Q39" class="form-control"
                        asp-items="Html.GetEnumSelectList<E39>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q39" class="text-danger"></span>
            </div>
            <div class="col-md-7">
                <label asp-for="Q40" class="control-label"></label>
                <input asp-for="Q40" class="form-control" />
                <span asp-validation-for="Q40" class="text-danger"></span>
            </div>
            <div class="col-md-7">
                <label asp-for="Q41" class="control-label"></label>
                <input asp-for="Q41" class="form-control" />
                <span asp-validation-for="Q41" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="Q42" class="control-label"></label>
                <select asp-for="Q42" class="form-control"
                        asp-items="Html.GetEnumSelectList<E42>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q42" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <p>Q43 Have you been treated or got the following symptoms in the past 12 months?</p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q43_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q43_1" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q43_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q43_2" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q43_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q43_3" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q43_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q43_4" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q43_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q43_5" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q43_6)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q43_6" />
                            </div>


                        </div>

                    </div>

                </div>


            </div>

        </div>

        @*............HIV AND SYPHILIS TESTING AND PARTNER’S DISCLOSURE..........*@

        <div class="row jumbodm">
            <div class="col-md-12 text-info">
                <h5>HIV AND SYPHILIS TESTING AND PARTNER’S DISCLOSURE</h5>
            </div>
            <div class="col-md-3">
                <label asp-for="Q44" class="control-label"></label>
                <select asp-for="Q44" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q44" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q45" class="control-label"></label>
                <select asp-for="Q45" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q45" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q46" class="control-label"></label>
                <select asp-for="Q46" class="form-control"
                        asp-items="Html.GetEnumSelectList<E46>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q46" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q47" class="control-label"></label>
                <select asp-for="Q47" class="form-control"
                        asp-items="Html.GetEnumSelectList<E47>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q47" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q48" class="control-label"></label>
                <input asp-for="Q48" class="form-control" />
                <span asp-validation-for="Q48" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="Q49" class="control-label"></label>
                <select asp-for="Q49" id="nQ49" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q49" class="text-danger"></span>
            </div>
            <div class="col-md-2 ">
                <label asp-for="Q50" class="control-label"></label>
                <input asp-for="Q50" class="form-control" />
                <span asp-validation-for="Q50" class="text-danger"></span>
            </div>
            <div class="col-md-5 ">
                <label asp-for="Q51" class="control-label"></label>
                <input asp-for="Q51" class="form-control" />
                <span asp-validation-for="Q51" class="text-danger"></span>
            </div>
            <div class="col-md-3 ">
                <label asp-for="Q52" class="control-label"></label>
                <input asp-for="Q52" class="form-control" />
                <span asp-validation-for="Q52" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q53" class="control-label"></label>
                <select asp-for="Q53" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q53" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q54" class="control-label"></label>
                <select asp-for="Q54" id="nQ54" class="form-control"
                        asp-items="Html.GetEnumSelectList<E46>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q54" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q54_1" class="control-label"></label>
                <input asp-for="Q54_1" class="form-control" />
                <span asp-validation-for="Q54_1" class="text-danger"></span>
            </div>
            @*<div class="col-md-3">
                    <p>Before this pregnancy?</p>
                    <input asp-for="Q54_2" />
                </div>*@
            <div class="col-md-3">
                <label asp-for="Q54_2" class="control-label"></label>
                <select asp-for="Q54_2" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q54_2" class="text-danger"></span>
            </div>
            <div class="col-md-3 ">
                <label asp-for="Q54_3" class="control-label"></label>
                <select asp-for="Q54_3" id="nnQ54_3" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q54_3" class="text-danger"></span>
            </div>

            <div class="col-md-6 ">
                <label asp-for="Q54_4" class="control-label"></label>
                <input asp-for="Q54_4" class="form-control" />
                <span asp-validation-for="Q54_4" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q55" class="control-label"></label>
                <select asp-for="Q55" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q55" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <label asp-for="Q56" class="control-label"></label>
                <select asp-for="Q56" class="form-control"
                        asp-items="Html.GetEnumSelectList<E46>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q56" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <p>Q57. Can you discuss issues regarding HIV/AIDS with(tick the appropriate)</p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q56_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q56_1" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q56_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q56_2" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q56_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q56_3" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q56_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q56_4" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q56_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q56_5" />
                            </div>



                        </div>

                    </div>

                </div>


            </div>

            <div class="col-md-3">
                <label asp-for="OthersQ56" class="control-label"></label>
                <input asp-for="OthersQ56" class="form-control" />
                <span asp-validation-for="OthersQ56" class="text-danger"></span>
            </div>


            <div class="col-md-8">
                <p>Q58. Have you ever discussed with your partner about matter relating to (tick were appropriate)</p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q58_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q58_1" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q58_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q58_2" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q58_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q58_3" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q58_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q58_4" />
                            </div>




                        </div>

                    </div>

                </div>


            </div>


            <div class="col-md-8">
                <p>Q59. Do you have any of the following symptoms? </p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q59_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q58_1" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q59_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q59_2" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q59_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q59_3" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q59_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q59_4" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q59_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q59_5" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q59_6)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q59_6" />
                            </div>




                        </div>

                    </div>

                </div>


            </div>


            <div class="col-md-6">
                <label asp-for="Q60" class="control-label"></label>
                <select asp-for="Q60" id="nQ60" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q60" class="text-danger"></span>
            </div>
            <div class="col-md-3 ">
                <label asp-for="Q60_1" class="control-label"></label>
                <input asp-for="Q60_1" class="form-control" />
                <span asp-validation-for="Q60_1" class="text-danger"></span>
            </div>
            <div class="col-md-3 ">
                <label asp-for="Q60_2" class="control-label"></label>
                <input asp-for="Q60_2" class="form-control" />
                <span asp-validation-for="Q60_2" class="text-danger"></span>
            </div>
            <div class="col-md-3 ">
                <label asp-for="Q60_3" class="control-label"></label>
                <input asp-for="Q60_3" class="form-control" />
                <span asp-validation-for="Q60_3" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <p>Q61. What symptoms have you been treated? </p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q61_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q61_1" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q61_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q61_2" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q61_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q61_3" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q61_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q61_4" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q61_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q61_5" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q61_6)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q61_6" />
                            </div>




                        </div>

                    </div>

                </div>


            </div>

            <div class="col-md-8">
                <label asp-for="Q62" class="control-label"></label>
                <select asp-for="Q62" id="nQ62" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q62" class="text-danger"></span>
            </div>
            <div class="col-md-4 ">
                <label asp-for="Q63" class="control-label"></label>
                <input asp-for="Q63" class="form-control" />
                <span asp-validation-for="Q63" class="text-danger"></span>
            </div>



            <div class="col-md-6">
                <p>Q64. Who else would you tell that you have STI apart from your partner? </p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q64_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q64_1" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q64_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q64_2" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q64_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q64_3" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q64_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q64_4" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q64_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q64_5" />
                            </div>

                        </div>

                    </div>

                </div>


            </div>


        </div>

        @*.............PARTNER’S INFORMATION............*@
        <div class="row jumbodm">
            <div class="col-md-12 text-info">
                <h5>PARTNER’S INFORMATION</h5>
            </div>
            <div class="col-md-3">
                <label asp-for="Q65" class="control-label"></label>
                <input asp-for="Q65" class="form-control" />
                <span asp-validation-for="Q65" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q66" class="control-label"></label>
                <select asp-for="Q66" class="form-control"
                        asp-items="Html.GetEnumSelectList<E66>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q66" class="text-danger"></span>
            </div>

            <div class="col-md-3">
                <label asp-for="Q67" class="control-label"></label>
                <select asp-for="Q67" id="nQ67" class="form-control"
                        asp-items="Html.GetEnumSelectList<E10>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q67" class="text-danger"></span>
            </div>
            <div class="col-md-3 ">
                <label asp-for="OthersQ67" class="control-label"></label>
                <input asp-for="OthersQ67" class="form-control" />
                <span asp-validation-for="OthersQ67" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q68" class="control-label"></label>
                <select asp-for="Q68" id="nQ68" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q68" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q68Yes" class="control-label"></label>
                <select asp-for="Q68Yes" class="form-control"
                        asp-items="Html.GetEnumSelectList<E68Yes>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q68Yes" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q69" class="control-label"></label>
                <select asp-for="Q69" class="form-control"
                        asp-items="Html.GetEnumSelectList<E21>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q69" class="text-danger"></span>
            </div>
            @*<div class="col-md-6">
                    <p>Q70. Of what kind?</p>
                    @Html.DisplayNameFor(model => model.Q70_1) <input asp-for="Q70_1" />
                    @Html.DisplayNameFor(model => model.Q70_2) <input asp-for="Q70_2" />
                    @Html.DisplayNameFor(model => model.Q70_3) <input asp-for="Q70_3" />
                    @Html.DisplayNameFor(model => model.Q70_4) <input asp-for="Q70_4" />


                </div>*@
            <div class="col-md-4">
                <p>Q70. Of what kind?</p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q70_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q70_1" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q70_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q70_2" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q70_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q70_3" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q70_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q70_4" />
                            </div>


                        </div>

                    </div>

                </div>


            </div>

        </div>
        @*........MOTHER’S DIET DURING PREGNANCY....*@
        <div class="row jumbodm">
            <div class="col-md-12 text-info">
                <h5>MOTHER’S DIET DURING PREGNANCY</h5>
            </div>
            <div class="col-md-8">
                <label asp-for="Q71" class="control-label"></label>
                <select asp-for="Q71" id="nQ71" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q71" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q71_1" class="control-label"></label>
                <input asp-for="Q71_1" class="form-control" />
                <span asp-validation-for="Q71_1" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q72" class="control-label"></label>
                <select asp-for="Q72" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q72" class="text-danger"></span>
            </div>
            <div class="col-md-8">
                <label asp-for="Q73" class="control-label"></label>
                <select asp-for="Q73" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q73" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q74" class="control-label"></label>
                <select asp-for="Q74" class="form-control"
                        asp-items="Html.GetEnumSelectList<E74>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q74" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q75" class="control-label"></label>
                <select asp-for="Q75" class="form-control"
                        asp-items="Html.GetEnumSelectList<E75>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q75" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q76" class="control-label"></label>
                <select asp-for="Q76" class="form-control"
                        asp-items="Html.GetEnumSelectList<E75>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q76" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q77" class="control-label"></label>
                <select asp-for="Q77" class="form-control"
                        asp-items="Html.GetEnumSelectList<E77>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q77" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q78" class="control-label"></label>
                <select asp-for="Q78" class="form-control"
                        asp-items="Html.GetEnumSelectList<E78>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q78" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label asp-for="Q79" class="control-label"></label>
                <input asp-for="Q79" class="form-control" />
                <span asp-validation-for="Q79" class="text-danger"></span>
            </div>
        </div>
        @*...........INFANT FEEDING INFORMATION..........*@
        <div class="row jumbodm">
            <div class="col-md-12 text-info">
                <h5>INFANT FEEDING INFORMATION</h5>
            </div>
            <div class="col-md-5">
                <label asp-for="Q80" class="control-label"></label>
                <select asp-for="Q80" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q80" class="text-danger"></span>
            </div>
            @*<div class="col-md-7">
                    <p>Q81. If Yes, what kind of counselling did you receive</p>
                    @Html.DisplayNameFor(model => model.Q81_1) <input asp-for="Q81_1" />
                    @Html.DisplayNameFor(model => model.Q81_2) <input asp-for="Q81_2" />
                    @Html.DisplayNameFor(model => model.Q81_3) <input asp-for="Q81_3" />
                    @Html.DisplayNameFor(model => model.Q81_4) <input asp-for="Q81_4" />
                    @Html.DisplayNameFor(model => model.Q81_5) <input asp-for="Q81_5" />
                    @Html.DisplayNameFor(model => model.Q81_6) <input asp-for="Q81_6" />


                </div>*@
            <div class="col-md-6">
                <p>Q81. If Yes, what kind of counselling did you receive</p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q81_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q81_1" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q81_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q81_2" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q81_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q81_3" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q81_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q81_4" />
                            </div>
                            <div class="col-md-6">
                                @Html.DisplayNameFor(model => model.Q81_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q81_5" />
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayNameFor(model => model.Q81_6)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q81_6" />
                            </div>


                        </div>

                    </div>

                </div>


            </div>


            <div class="col-md-7">
                <p>Q82. Where else have you heard about breast feeding and infant feeding?</p>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-md-5">
                                @Html.DisplayNameFor(model => model.Q82_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q82_1" />
                            </div>
                            <div class="col-md-5">
                                @Html.DisplayNameFor(model => model.Q82_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q82_2" />
                            </div>
                            <div class="col-md-5">
                                @Html.DisplayNameFor(model => model.Q82_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q82_3" />
                            </div>
                            <div class="col-md-5">
                                @Html.DisplayNameFor(model => model.Q82_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q82_4" />
                            </div>
                            <div class="col-md-5">
                                @Html.DisplayNameFor(model => model.Q82_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q82_5" />
                            </div>



                        </div>

                    </div>

                </div>


            </div>



            <div class="col-md-5">
                <label asp-for="Q83" class="control-label"></label>
                <select asp-for="Q83" class="form-control"
                        asp-items="Html.GetEnumSelectList<E83>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q83" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q84" class="control-label"></label>
                <select asp-for="Q84" class="form-control"
                        asp-items="Html.GetEnumSelectList<E84>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q84" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q85" class="control-label"></label>
                <select asp-for="Q85" class="form-control"
                        asp-items="Html.GetEnumSelectList<E85>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q85" class="text-danger"></span>
            </div>

            <div class="col-md-5">
                <label asp-for="Q86" class="control-label"></label>
                <select asp-for="Q86" class="form-control"
                        asp-items="Html.GetEnumSelectList<E85>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q86" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Q87" class="control-label"></label>
                <select asp-for="Q87" class="form-control"
                        asp-items="Html.GetEnumSelectList<E87>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q87" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Q88" class="control-label"></label>
                <select asp-for="Q88" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q88" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q89" class="control-label"></label>
                <select asp-for="Q89" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q89" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q90" class="control-label"></label>
                <select asp-for="Q90" class="form-control"
                        asp-items="Html.GetEnumSelectList<E90>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q90" class="text-danger"></span>
            </div>
            <div class="col-md-3 ">
                <label asp-for="OthersQ90" class="control-label"></label>
                <input asp-for="OthersQ90" class="form-control" />
                <span asp-validation-for="OthersQ90" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q91" class="control-label"></label>
                <select asp-for="Q91" id="nQ91" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q91" class="text-danger"></span>
            </div>
            <div class="col-md-3 ">
                <label asp-for="Q92" class="control-label"></label>
                <select asp-for="Q92" class="form-control"
                        asp-items="Html.GetEnumSelectList<E92>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q92" class="text-danger"></span>
            </div>
            <div class="col-md-3 ">
                <label asp-for="OthersQ92" class="control-label"></label>
                <input asp-for="OthersQ92" class="form-control" />
                <span asp-validation-for="OthersQ92" class="text-danger"></span>
            </div>
            <div class="col-md-2 ">
                <label asp-for="Q93" class="control-label"></label>
                <select asp-for="Q93" class="form-control"
                        asp-items="Html.GetEnumSelectList<E93>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q93" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Q94" class="control-label"></label>
                <select asp-for="Q94" class="form-control"
                        asp-items="Html.GetEnumSelectList<E94>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q94" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Q95" class="control-label"></label>
                <select asp-for="Q95" class="form-control"
                        asp-items="Html.GetEnumSelectList<E95>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q95" class="text-danger"></span>
            </div>
            <div class="col-md-7">
                <label asp-for="Q96" class="control-label"></label>
                <input asp-for="Q96" class="form-control" />
                <span asp-validation-for="Q96" class="text-danger"></span>
            </div>
            <div class="col-md-5">
                <label asp-for="Q97" class="control-label"></label>
                @*<input asp-for="Q97" class="form-control" />*@
                <select asp-for="Q97" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q97" class="text-danger"></span>
            </div>
            @*<div class="col-md-12">
                    <p>Q98. External genitalia (tick where appropriate)</p>
                    @Html.DisplayNameFor(model => model.Q98_1) <input asp-for="Q98_1" />
                    @Html.DisplayNameFor(model => model.Q98_2) <input asp-for="Q98_2" />
                    @Html.DisplayNameFor(model => model.Q98_4) <input asp-for="Q98_4" />
                    @Html.DisplayNameFor(model => model.Q98_5) <input asp-for="Q98_5" />
                    @Html.DisplayNameFor(model => model.Q98_6) <input asp-for="Q98_6" />



                </div>*@
            <div class="col-md-8">
                <p>Q98. External genitalia (tick where appropriate)</p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q98_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q98_1" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q98_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q98_2" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q98_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q98_3" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q98_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q98_4" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q98_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q98_5" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q98_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q98_6" />
                            </div>


                        </div>

                    </div>

                </div>


            </div>
            @*<div class="col-md-12">
                    <p>Q99. Internal genitalia (tick where appropriate)</p>
                    @Html.DisplayNameFor(model => model.Q99_1) <input asp-for="Q99_1" />
                    @Html.DisplayNameFor(model => model.Q99_2) <input asp-for="Q99_2" />
                    @Html.DisplayNameFor(model => model.Q99_4) <input asp-for="Q99_4" />
                    @Html.DisplayNameFor(model => model.Q99_5) <input asp-for="Q99_5" />
                </div>*@
            <div class="col-md-8">
                <p>Q99. Internal genitalia (tick where appropriate)</p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q99_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q99_1" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q99_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q99_2" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q99_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q99_3" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q99_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q99_4" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q99_5)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q99_5" />
                            </div>

                        </div>

                    </div>

                </div>


            </div>
            <div class="col-md-12">
                <p>Q100. Vaginal secretion (tick where appropriate)</p>
                @Html.DisplayNameFor(model => model.Q100_1_1) <input asp-for="Q100_1_1" />
            </div>
            @*<div class="col-md-12">
                    <p>1.Normal</p>
                    <input asp-for="Q100_1_1" />
                    Html.DisplayNameFor(model => model.Q100_1_1) <input asp-for="Q100_1_1" />
                </div>*@
            @*<div class="col-md-12">
                    <p>2.Amount</p>
                    @Html.DisplayNameFor(model => model.Q100_2_1) <input asp-for="Q100_2_1" />
                    @Html.DisplayNameFor(model => model.Q100_2_2) <input asp-for="Q100_2_2" />
                    @Html.DisplayNameFor(model => model.Q100_2_3) <input asp-for="Q100_2_3" />
                </div>*@

            <div class="col-md-6">
                <p>Q100. Vaginal secretion (tick where appropriate)</p>
                <p class="text-info">2.Amount</p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_2_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_2_1" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_2_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_2_2" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_2_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_2_3" />
                            </div>



                        </div>

                    </div>

                </div>


            </div>
            @*<div class="col-md-12">
                    <p>3.Colour </p>
                    @Html.DisplayNameFor(model => model.Q100_3_1) <input asp-for="Q100_3_1" />
                    @Html.DisplayNameFor(model => model.Q100_3_1) <input asp-for="Q100_3_1" />
                    @Html.DisplayNameFor(model => model.Q100_3_2) <input asp-for="Q100_3_2" />
                    @Html.DisplayNameFor(model => model.Q100_3_3) <input asp-for="Q100_3_3" />
                    @Html.DisplayNameFor(model => model.Q100_3_4) <input asp-for="Q100_3_4" />

                </div>*@
            <div class="col-md-12">
                <p>Q100. Vaginal secretion (tick where appropriate)</p>
                <p class="text-info">3.Colour </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_3_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_3_1" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_3_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_3_2" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_3_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_3_3" />
                            </div>



                        </div>

                    </div>

                </div>


            </div>


            <div class="col-md-12">
                <p>Q100. Vaginal secretion (tick where appropriate)</p>
                <p class="text-info">4.Consistency </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_4_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_4_1" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_4_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_4_2" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_4_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_4_3" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_4_4)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_4_4" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q100_4_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q100_4_5" />
                            </div>



                        </div>

                    </div>

                </div>


            </div>
            @*<div class="col-md-12">
                    <p>Q100. Vaginal secretion (tick where appropriate)</p>
                    @Html.DisplayNameFor(model => model.Q100_5_1) <input asp-for="Q100_5_1" />
                </div>*@
            <div class="col-md-3">
                <label asp-for="Q100_5_1" class="control-label"></label>
                <select asp-for="Q100_5_1" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q100_5_1" class="text-danger"></span>
            </div>

            @*<div class="col-md-12">
                    <p>Q100. Vaginal secretion (tick where appropriate)</p>
                    @Html.DisplayNameFor(model => model.Q100_6_1) <input asp-for="Q100_6_1" />
                </div>*@
            <div class="col-md-2">
                <label asp-for="Q100_6_1" class="control-label"></label>
                <select asp-for="Q100_6_1" class="form-control"
                        asp-items="Html.GetEnumSelectList<E9>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q100_6_1" class="text-danger"></span>
            </div>


            <div class="col-md-12">
                <p>Q100. Vaginal secretion (tick where appropriate)</p>
                <p class="text-info">4.Consistency </p>
                <p>Sample taken</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q101_1)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q101_1" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q101_2)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q101_2" />
                            </div>
                            <div class="col-md-3">
                                @Html.DisplayNameFor(model => model.Q101_3)
                            </div>
                            <div class="col-md-1">
                                <input asp-for="Q101_3" />
                            </div>




                        </div>

                    </div>

                </div>


            </div>




            <div class="col-md-3">
                <label asp-for="Q102" class="control-label"></label>
                <input asp-for="Q102" class="form-control" />
                <span asp-validation-for="Q102" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="Q103" class="control-label"></label>
                <select asp-for="Q103" class="form-control"
                        asp-items="Html.GetEnumSelectList<E103>()">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="Q103" class="text-danger"></span>
            </div>
        </div>

        @*<div class="col-md-3 ">
                <input type="submit" value="Create" class="btn btn-bh" />
            </div>*@
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="submit" value="Save" class="btn btn-bh" />
                        </div>
                        <div class="col-md-3">
                            @*<input type="submit" value="Create" class="btn btn-bh" />*@
                            <a asp-action="Create" class="btn btn-bh">Cancel</a>
                        </div>

                    </div>

                </div>

            </div>


        </div>

    </div>
</form>
@*</div>*@
@*</div>*@

<div class="row justify-content-center">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

    document.getElementById('nname').focus();


    </script>
}




