@model BHAMCApp.Models.FKMAMA

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_BhMama.cshtml";
}

<div>
    <a class="text-info" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="text-info" asp-action="Index">Back to List</a>
</div>

<div>
    <dl class="row jumbodm text-white">
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.IDNumber)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.OthersQ1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.OthersQ1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q2)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q3)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q4)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ItajeQ4)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ItajeQ4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q7)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q7)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q8)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q8)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q11)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q11)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q12)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q12)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q13)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q13)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q14)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q14)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q15)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q15)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q16)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q16)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q17)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q17)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q18)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q18)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q19)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q19)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q20)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q20)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q21)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q21)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q22)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q22)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q23)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q23)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ProblemsDiagnosis)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ProblemsDiagnosis)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ManagementFK)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ManagementFK)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.DateVisit3)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.DateVisit3)
        </dd>
        @*<dt class="col-md-8">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.CreatedByUser)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ModifiedByUser)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ModifiedByUser)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Edited)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Edited)
        </dd>*@
    </dl>
</div>
<div>
    <a class="text-info" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="text-info" asp-action="Index">Back to List</a>
</div>
