@model BHAMCApp.Models.F48MTOTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_BhMtoto.cshtml";
}

<div class="row text-muted">
    <h5>Form mtoto</h5>
</div>
<div class="row">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>
<form asp-action="Create">
    <div class="row text-white justify-content-between jumbodm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<input type="hidden" asp-for="ID" />*@
        <div class="col-md-12">
            <p class="text-center text-info">FOMU YA MTOTO  </p>
        </div>
        <div class="col-md-12">
            <p class="text-center text-info">MWEZI WA 48 (4 YEARS) </p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="IDNumber" class="control-label"></label>
                    <input asp-for="IDNumber" class="form-control" id="nname" />
                    <span asp-validation-for="IDNumber" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Tarehe" class="control-label"></label>
                    <input asp-for="Tarehe" class="form-control" />
                    <span asp-validation-for="Tarehe" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="SexMt" class="control-label"></label>
                    <select asp-for="SexMt" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMTKSex>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="SexMt" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="TareheKuzaliwa" class="control-label"></label>
                    <input asp-for="TareheKuzaliwa" class="form-control" />
                    <span asp-validation-for="TareheKuzaliwa" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="UmriMtotoMiezi" class="control-label"></label>
                    <input asp-for="UmriMtotoMiezi" class="form-control" />
                    <span asp-validation-for="UmriMtotoMiezi" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <p class="text-info">JAZA UZITO WA MIEZI ILIYOONYESHWA HAPO CHINI KOPI GROWTH CARD</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="M36" class="control-label"></label>
                    <input asp-for="M36" class="form-control" />
                    <span asp-validation-for="M36" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="M40" class="control-label"></label>
                    <input asp-for="M40" class="form-control" />
                    <span asp-validation-for="M40" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="M44" class="control-label"></label>
                    <input asp-for="M44" class="form-control" />
                    <span asp-validation-for="M44" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="M48" class="control-label"></label>
                    <input asp-for="M48" class="form-control" />
                    <span asp-validation-for="M48" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q1" class="control-label"></label>
                    <select asp-for="Q1" class="form-control" id="nQ1"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q1" class="text-danger"></span>
                </div>
                <div class="col-md-3 collapse" id="nQ1_1">
                    <label asp-for="Q1_1" class="control-label"></label>
                    <input asp-for="Q1_1" class="form-control" />
                    <span asp-validation-for="Q1_1" class="text-danger"></span>
                </div>
                <div class="col-md-9">
                    <label asp-for="Q2" class="control-label"></label>
                    <select asp-for="Q2" class="form-control" id="nQ2"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q2" class="text-danger"></span>
                </div>
                <div class="col-md-3 collapse" id="nQ2_1">
                    <label asp-for="Q2_1" class="control-label"></label>
                    <input asp-for="Q2_1" class="form-control" />
                    <span asp-validation-for="Q2_1" class="text-danger"></span>
                </div>
                <div class="col-md-9">
                    <label asp-for="Q3" class="control-label"></label>
                    <select asp-for="Q3" class="form-control" id="nQ3"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q3" class="text-danger"></span>
                </div>
                <div class="col-md-3 collapse" id="nQ3_1">
                    <label asp-for="Q3_1" class="control-label"></label>
                    <input asp-for="Q3_1" class="form-control" />
                    <span asp-validation-for="Q3_1" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9">
                    <label asp-for="Q4" class="control-label"></label>
                    <select asp-for="Q4" class="form-control" id="nQ4"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q4" class="text-danger"></span>
                </div>
                <div class="col-md-3 collapse" id="nQ4_1">
                    <label asp-for="Q4_1" class="control-label"></label>
                    <input asp-for="Q4_1" class="form-control" />
                    <span asp-validation-for="Q4_1" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q5" class="control-label"></label>
                    <input asp-for="Q5" class="form-control" id="nQ5" />
                    <span asp-validation-for="Q5" class="text-danger"></span>
                </div>
                <div class="col-md-5 collapse" id="nQ5_1">
                    <label asp-for="Q5_1" class="control-label"></label>
                    <input asp-for="Q5_1" class="form-control" />
                    <span asp-validation-for="Q5_1" class="text-danger"></span>
                </div>
                <div class="col-md-3 collapse" id="nQ5_2">
                    <label asp-for="Q5_2" class="control-label"></label>
                    <input asp-for="Q5_2" class="form-control" />
                    <span asp-validation-for="Q5_2" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <label asp-for="Q6" class="control-label"></label>
                    <input asp-for="Q6" class="form-control" />
                    <span asp-validation-for="Q6" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <label asp-for="Q7" class="control-label"></label>
                    <select asp-for="Q7" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q7" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="text-info">
                8. Kwa kawaida ni vyakula gani na vinywaji gani unampa mtoto kila siku tangu
                anapoamka hadi usiku?. Jaza vile anavyotaja mwenyewe  (Dietery frequency)
            </p>
        </div>
        <div>--</div>
        <div class="col-md-12">
            <p class="text-info">ASUBUHI ANAPOAMKA / BREAKFAST</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q8_1_a" class="control-label"></label>
                    <textarea asp-for="Q8_1_a" class="form-control"></textarea>
                    <span asp-validation-for="Q8_1_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_1_b" class="control-label"></label>
                    <textarea asp-for="Q8_1_b" class="form-control"></textarea>
                    <span asp-validation-for="Q8_1_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_1_c" class="control-label"></label>
                    <textarea asp-for="Q8_1_c" class="form-control"></textarea>
                    <span asp-validation-for="Q8_1_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_1_d" class="control-label"></label>
                    <textarea asp-for="Q8_1_d" class="form-control"></textarea>
                    <span asp-validation-for="Q8_1_d" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q8_1_e" class="control-label"></label>
                    <textarea asp-for="Q8_1_e" class="form-control"></textarea>
                    <span asp-validation-for="Q8_1_e" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_1_f" class="control-label"></label>
                    <textarea asp-for="Q8_1_f" class="form-control"></textarea>
                    <span asp-validation-for="Q8_1_f" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="text-info">Anapewa nini KATI YA SAA TATU ASUBUHI HADI SAA SITA MCHANA (In btn breakfast)</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q8_2_a" class="control-label"></label>
                    <textarea asp-for="Q8_2_a" class="form-control "></textarea>
                    <span asp-validation-for="Q8_2_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_2_b" class="control-label"></label>
                    <textarea asp-for="Q8_2_b" class="form-control "></textarea>
                    <span asp-validation-for="Q8_2_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_2_c" class="control-label"></label>
                    <textarea asp-for="Q8_2_c" class="form-control "></textarea>
                    <span asp-validation-for="Q8_2_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_2_d" class="control-label"></label>
                    <textarea asp-for="Q8_2_d" class="form-control "></textarea>
                    <span asp-validation-for="Q8_2_d" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="text-info">CHAKULA CHA MCHANA (LUNCH) anapewa nini?  </p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q8_3_a" class="control-label"></label>
                    <textarea asp-for="Q8_3_a" class="form-control"></textarea>
                    <span asp-validation-for="Q8_3_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_3_b" class="control-label"></label>
                    <textarea asp-for="Q8_3_b" class="form-control"></textarea>
                    <span asp-validation-for="Q8_3_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_3_c" class="control-label"></label>
                    <textarea asp-for="Q8_3_c" class="form-control"></textarea>
                    <span asp-validation-for="Q8_3_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_3_d" class="control-label"></label>
                    <textarea asp-for="Q8_3_d" class="form-control"></textarea>
                    <span asp-validation-for="Q8_3_d" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q8_3_e" class="control-label"></label>
                    <textarea asp-for="Q8_3_e" class="form-control"></textarea>
                    <span asp-validation-for="Q8_3_e" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_3_f" class="control-label"></label>
                    <textarea asp-for="Q8_3_f" class="form-control"></textarea>
                    <span asp-validation-for="Q8_3_f" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_3_g" class="control-label"></label>
                    <textarea asp-for="Q8_3_g" class="form-control"></textarea>
                    <span asp-validation-for="Q8_3_g" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_3_h" class="control-label"></label>
                    <textarea asp-for="Q8_3_h" class="form-control"></textarea>
                    <span asp-validation-for="Q8_3_h" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_3_i" class="control-label"></label>
                    <textarea asp-for="Q8_3_i" class="form-control"></textarea>
                    <span asp-validation-for="Q8_3_i" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="text-info">KATI YA SAA NANE MCHANA HADI SAA KUMI NA MBILI JIONI anapewa nini?</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q18_4_a" class="control-label"></label>
                    <textarea asp-for="Q18_4_a" class="form-control "></textarea>
                    <span asp-validation-for="Q18_4_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_4_b" class="control-label"></label>
                    <textarea asp-for="Q8_4_b" class="form-control "></textarea>
                    <span asp-validation-for="Q8_4_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_4_c" class="control-label"></label>
                    <textarea asp-for="Q8_4_c" class="form-control "></textarea>
                    <span asp-validation-for="Q8_4_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_4_d" class="control-label"></label>
                    <textarea asp-for="Q8_4_d" class="form-control "></textarea>
                    <span asp-validation-for="Q8_4_d" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="text-info">CHAKULA CHA JIONI (DINNER) anapewa nini?</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q8_5_a" class="control-label"></label>
                    <textarea asp-for="Q8_5_a" class="form-control"></textarea>
                    <span asp-validation-for="Q8_5_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_5_b" class="control-label"></label>
                    <textarea asp-for="Q8_5_b" class="form-control"></textarea>
                    <span asp-validation-for="Q8_5_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_5_c" class="control-label"></label>
                    <textarea asp-for="Q8_5_c" class="form-control"></textarea>
                    <span asp-validation-for="Q8_5_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_5_d" class="control-label"></label>
                    <textarea asp-for="Q8_5_d" class="form-control"></textarea>
                    <span asp-validation-for="Q8_5_d" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q8_5_e" class="control-label"></label>
                    <textarea asp-for="Q8_5_e" class="form-control"></textarea>
                    <span asp-validation-for="Q8_5_e" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_5_f" class="control-label"></label>
                    <textarea asp-for="Q8_5_f" class="form-control"></textarea>
                    <span asp-validation-for="Q8_5_f" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_5_g" class="control-label"></label>
                    <textarea asp-for="Q8_5_g" class="form-control"></textarea>
                    <span asp-validation-for="Q8_5_g" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_5_h" class="control-label"></label>
                    <textarea asp-for="Q8_5_h" class="form-control"></textarea>
                    <span asp-validation-for="Q8_5_h" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q8_5_i" class="control-label"></label>
                    <textarea asp-for="Q8_5_i" class="form-control"></textarea>
                    <span asp-validation-for="Q8_5_i" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="text-info">
                9. Na katika masaa 24 yaliyopita au jana, ni vyakula na vinywaji gani mtoto alipewa
                kuanzia alipoamka asubuhi hadi wakati wa kulala usiku. (Andika kila kitu anachokitaja).
                (Last 24 – hours recall)
            </p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="Q9_1" class="control-label"></label>
                    <textarea asp-for="Q9_1" class="form-control "></textarea>
                    <span asp-validation-for="Q9_1" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q9_2" class="control-label"></label>
                    <textarea asp-for="Q9_2" class="form-control "></textarea>
                    <span asp-validation-for="Q9_2" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q9_3" class="control-label"></label>
                    <textarea asp-for="Q9_3" class="form-control "></textarea>
                    <span asp-validation-for="Q9_3" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Q9_4" class="control-label"></label>
                    <textarea asp-for="Q9_4" class="form-control "></textarea>
                    <span asp-validation-for="Q9_4" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Q9_5" class="control-label"></label>
                    <textarea asp-for="Q9_5" class="form-control "></textarea>
                    <span asp-validation-for="Q9_5" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q10" class="control-label"></label>
                    <select asp-for="Q10" class="form-control" id="nQ10"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10" class="text-danger"></span>
                </div>
                <div class="col-md-3 collapse" id="nQ10_1">
                    <label asp-for="Q10_1" class="control-label"></label>
                    <input asp-for="Q10_1" class="form-control" />
                    <span asp-validation-for="Q10_1" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Q11" class="control-label"></label>
                    <input asp-for="Q11" class="form-control" />
                    <span asp-validation-for="Q11" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q12" class="control-label"></label>
                    <select asp-for="Q12" class="form-control" id="nQ12"
                            asp-items="Html.GetEnumSelectList<EFMO28_13>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q12" class="text-danger"></span>
                </div>
                <div class="col-md-3 collapse" id="nQ12_1">
                    <label asp-for="Q12_1" class="control-label"></label>
                    <input asp-for="Q12_1" class="form-control" />
                    <span asp-validation-for="Q12_1" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <label asp-for="Q13" class="control-label"></label>
                    <select asp-for="Q13" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-8">
                    <label asp-for="Q14" class="control-label"></label>
                    <select asp-for="Q14" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMO48_14>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q14" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="Q15" class="control-label"></label>
                    <select asp-for="Q15" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMO28_15>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Q16" class="control-label"></label>
                    <select asp-for="Q16" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q16" class="text-danger"></span>
                </div>
            </div>
        </div>
        @*17.Nani anayefanya shughuli zifuatazo zaidi wakati wa mchana?	Tiki panapostahili*@
        <div class="col-md-12">
            <p class="text-info">Q17. Nani anayefanya shughuli zifuatazo zaidi wakati wa mchana? Tiki panapostahili</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">(a). Kutayarisha chakula cha mtoto</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_a_1)

                        </div>
                        <div class="col-md-1">
                            <input class="form-check-input" asp-for="Q16_a_1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_a_2)

                        </div>
                        <div class="col-md-3">

                            <input class="form-check-input" asp-for="Q16_a_2" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_a_3)

                        </div>
                        <div class="col-md-3">

                            <input class="form-check-input" asp-for="Q16_a_3" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_a_4)

                        </div>
                        <div class="col-md-3">

                            <input class="form-check-input" asp-for="Q16_a_4" id="nQ16_a_4" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 collapse" id="nQ16_a_5">
                            <label asp-for="Q16_a_5" class="control-label"></label>
                            <input asp-for="Q16_a_5" class="form-control" />
                            <span asp-validation-for="Q16_a_5" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">(b). Kumlisha mtoto/ kuangalia mtoto anakula</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_b_1)

                        </div>
                        <div class="col-md-1">
                            <input class="form-check-input" asp-for="Q16_b_1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_b_2)

                        </div>
                        <div class="col-md-3">

                            <input class="form-check-input" asp-for="Q16_b_2" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_b_3)

                        </div>
                        <div class="col-md-3">

                            <input class="form-check-input" asp-for="Q16_b_3" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_b_4)

                        </div>
                        <div class="col-md-3">

                            <input class="form-check-input" asp-for="Q16_b_4" id="nQ16_b_4" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 collapse" id="nQ16_b_5">
                            <label asp-for="Q16_b_5" class="control-label"></label>
                            <input asp-for="Q16_b_5" class="form-control" />
                            <span asp-validation-for="Q16_b_5" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">(c). Kumvalisha mtoto</p>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_c_1)

                        </div>
                        <div class="col-md-1">
                            <input class="form-check-input" asp-for="Q16_c_1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_c_2)

                        </div>
                        <div class="col-md-3">

                            <input class="form-check-input" asp-for="Q16_c_2" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_c_3)

                        </div>
                        <div class="col-md-3">

                            <input class="form-check-input" asp-for="Q16_c_3" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                            @Html.DisplayNameFor(model => model.Q16_c_4)

                        </div>
                        <div class="col-md-3">

                            <input class="form-check-input" asp-for="Q16_c_4" id="nQ16_c_4" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 collapse" id="nQ16_c_5">
                            <label asp-for="Q16_c_5" class="control-label"></label>
                            <input asp-for="Q16_c_5" class="form-control" />
                            <span asp-validation-for="Q16_c_5" class="text-danger"></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Q17" class="control-label"></label>
                    <select asp-for="Q17" class="form-control" id="nQ17"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q17" class="text-danger"></span>
                </div>
                <div class="col-md-6 collapse" id="nQ17_1">
                    <label asp-for="Q17_1" class="control-label"></label>
                    <input asp-for="Q17_1" class="form-control" />
                    <span asp-validation-for="Q17_1" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Q18" class="control-label"></label>
                    <select asp-for="Q18" class="form-control" id="nQ18"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q18" class="text-danger"></span>
                </div>
                <div class="col-md-6 collapse" id="nQ18_1">
                    <label asp-for="Q18_1" class="control-label"></label>
                    <input asp-for="Q18_1" class="form-control" />
                    <span asp-validation-for="Q18_1" class="text-danger"></span>
                </div>
            </div>
        </div>
        @*INFANT EXAMINATION FORM : At 6 months*@

        <div class="col-md-12">
            <p class="text-info">INFANT EXAMINATION FORM : At 28-36 months</p>
        </div>
        <div class="col-md-12">
            <p class="text-info">1. General</p>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q10_a" class="control-label"></label>
                    <select asp-for="Q10_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q10_b" class="control-label"></label>
                    <select asp-for="Q10_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q10_c" class="control-label"></label>
                    <select asp-for="Q10_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q10_d" class="control-label"></label>
                    <select asp-for="Q10_d" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10_d" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q10_e" class="control-label"></label>
                    <select asp-for="Q10_e" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q10_e" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">2. Lymphadenopathy</p>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q11_a" class="control-label"></label>
                    <select asp-for="Q11_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q11_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q11_b" class="control-label"></label>
                    <select asp-for="Q11_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q11_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q11_c" class="control-label"></label>
                    <select asp-for="Q11_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q11_c" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">3. Mouth</p>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q12_a" class="control-label"></label>
                    <select asp-for="Q12_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q12_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q12_b" class="control-label"></label>
                    <select asp-for="Q12_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q12_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q12_c" class="control-label"></label>
                    <select asp-for="Q12_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q12_c" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">4.Respiratory system</p>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_a" class="control-label"></label>
                    <select asp-for="Q13_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_b" class="control-label"></label>
                    <select asp-for="Q13_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_c" class="control-label"></label>
                    <select asp-for="Q13_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_d" class="control-label"></label>
                    <select asp-for="Q13_d" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_d" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_e" class="control-label"></label>
                    <select asp-for="Q13_e" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_e" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q13_f" class="control-label"></label>
                    <select asp-for="Q13_f" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q13_f" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-info">5. Gastro-intestinal Tract</p>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_a" class="control-label"></label>
                    <select asp-for="Q14_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q14_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_b" class="control-label"></label>
                    <select asp-for="Q14_b" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q14_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_c" class="control-label"></label>
                    <select asp-for="Q14_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q14_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_d" class="control-label"></label>
                    <select asp-for="Q14_d" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q14_d" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_e" class="control-label"></label>
                    <input asp-for="Q14_e" class="form-control" />
                    <span asp-validation-for="Q14_e" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_f" class="control-label"></label>
                    <input asp-for="Q14_f" class="form-control" />
                    <span asp-validation-for="Q14_f" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q14_g" class="control-label"></label>
                    <input asp-for="Q14_g" class="form-control" />
                    <span asp-validation-for="Q14_g" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q15_a" class="control-label"></label>
                    <input asp-for="Q15_a" class="form-control" />
                    <span asp-validation-for="Q15_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q15_b" class="control-label"></label>
                    <input asp-for="Q15_b" class="form-control" />
                    <span asp-validation-for="Q15_b" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q15_c" class="control-label"></label>
                    <select asp-for="Q15_c" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15_c" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q15_d" class="control-label"></label>
                    <select asp-for="Q15_d" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q15_d" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label asp-for="Q16_a" class="control-label"></label>
                    <select asp-for="Q16_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q16_a" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label asp-for="Q17_a" class="control-label"></label>
                    <select asp-for="Q17_a" class="form-control"
                            asp-items="Html.GetEnumSelectList<EFMOK1>()">
                        <option selected="selected" value=""></option>
                    </select>
                    <span asp-validation-for="Q17_a" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label asp-for="ProblemsDsis" class="control-label"></label>
            <input asp-for="ProblemsDsis" class="form-control" />
            <span asp-validation-for="ProblemsDsis" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="MedicationPres" class="control-label"></label>
            <input asp-for="MedicationPres" class="form-control" />
            <span asp-validation-for="MedicationPres" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="DateVisit32" class="control-label"></label>
            <input asp-for="DateVisit32" class="form-control" />
            <span asp-validation-for="DateVisit32" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2">
                        <input type="submit" value="Save" class="btn btn-bh" />
                    </div>
                    <div class="col-md-3">
                        <a asp-action="Create" class="btn btn-bh">Cancel</a>
                    </div>

                </div>

            </div>

        </div>


    </div>
</form>


<div class="row justify-content-center">
    <a class="text-info" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    document.getElementById('nname').focus();
    //Q1
    $(document).on("change", "#nQ1", function () {
        if ($(this).val() == '1') {

            $("#nQ1_1").addClass('collapse');
            $("#nQ1_1").removeClass('text-info');

        }
        else {
            
            $("#nQ1_1").removeClass('collapse');
            $("#nQ1_1").addClass('text-info');

        }
    });

    //Q2
    $(document).on("change", "#nQ2", function () {
        if ($(this).val() == '1') {

            $("#nQ2_1").removeClass('collapse');
            $("#nQ2_1").addClass('text-info');

        }
        else {

            $("#nQ2_1").addClass('collapse');
            $("#nQ2_1").removeClass('text-info');

        }
    });

    //Q3
    $(document).on("change", "#nQ3", function () {
        if ($(this).val() == '1') {

            $("#nQ3_1").removeClass('collapse');
            $("#nQ3_1").addClass('text-info');

        }
        else {

            $("#nQ3_1").addClass('collapse');
            $("#nQ3_1").removeClass('text-info');

        }
    });

    //Q4
    $(document).on("change", "#nQ4", function () {
        if ($(this).val() == '1') {

            $("#nQ4_1").removeClass('collapse');
            $("#nQ4_1").addClass('text-info');

        }
        else {

            $("#nQ4_1").addClass('collapse');
            $("#nQ4_1").removeClass('text-info');

        }
    });
    //5
    $(document).on("change", "#nQ5", function () {

        if ($(this).val() == 1) {
            $("#nQ5_1").addClass('collapse');
            $("#nQ5_2").addClass('collapse');
            $("#nQ5_1").removeClass('text-info');
            $("#nQ5_2").removeClass('text-info');
            $('#nQ5_1').val('');
            $('#nQ5_2').val('');

        }
        else if ($(this).val() == 2) {
            $("#nQ5_1").removeClass('collapse');
            $("#nQ5_1").addClass('text-info');

            $("#nQ5_2").addClass('collapse');
            $("#nQ5_2").removeClass('text-info');
            $('#nQ5_2').val('');
        }
        else {
            $("#nQ5_1").removeClass('collapse');
            $("#nQ5_2").removeClass('collapse');
            $("#nQ5_1").addClass('text-info');
            $("#nQ5_2").addClass('text-info');
        }
    });


    //Q10
    $(document).on("change", "#nQ10", function () {
        if ($(this).val() == '1') {

            $("#nQ10_1").removeClass('collapse');
            $("#nQ10_1").addClass('text-info');

        }
        else {

            $("#nQ10_1").addClass('collapse');
            $("#nQ10_1").removeClass('text-info');

        }
    });

    //Q12
    $(document).on("change", "#nQ12", function () {
        if ($(this).val() == '4') {

            $("#nQ12_1").removeClass('collapse');
            $("#nQ12_1").addClass('text-info');

        }
        else {

            $("#nQ12_1").addClass('collapse');
            $("#nQ12_1").removeClass('text-info');

        }
    });

    //Q17
    $(document).on("change", "#nQ17", function () {
        if ($(this).val() == '1') {

            $("#nQ17_1").removeClass('collapse');
            $("#nQ17_1").addClass('text-info');

        }
        else {

            $("#nQ17_1").addClass('collapse');
            $("#nQ17_1").removeClass('text-info');

        }
    });

    //Q18
    $(document).on("change", "#nQ18", function () {
        if ($(this).val() == '1') {

            $("#nQ18_1").removeClass('collapse');
            $("#nQ18_1").addClass('text-info');

        }
        else {

            $("#nQ18_1").addClass('collapse');
            $("#nQ18_1").removeClass('text-info');

        }
    });

    //Q16_a_4
    $(document).ready(function () {
        $('#nQ16_a_4').click(function () {
            if ($(this).prop("checked") == true) {
                $("#nQ16_a_5").removeClass("collapse");
                $("#nQ16_a_5").addClass('text-info');
            }
            else if ($(this).prop("checked") == false) {

                $("#nQ16_a_5").addClass("collapse");
                $("#nQ16_a_5").removeClass('text-info');
            }
        });
    });

    //Q16_b_4
    $(document).ready(function () {
        $('#nQ16_b_4').click(function () {
            if ($(this).prop("checked") == true) {
                $("#nQ16_b_5").removeClass("collapse");
                $("#nQ16_b_5").addClass('text-info');
            }
            else if ($(this).prop("checked") == false) {

                $("#nQ16_b_5").addClass("collapse");
                $("#nQ16_b_5").removeClass('text-info');
            }
        });
    });

    //Q16_c_4
    $(document).ready(function () {
        $('#nQ16_c_4').click(function () {
            if ($(this).prop("checked") == true) {
                $("#nQ16_c_5").removeClass("collapse");
                $("#nQ16_c_5").addClass('text-info');
            }
            else if ($(this).prop("checked") == false) {

                $("#nQ16_c_5").addClass("collapse");
                $("#nQ16_c_5").removeClass('text-info');
            }
        });
    });
</script>
}
