@model BHAMCApp.Models.FKBABA

@{
    ViewData["Title"] = "Delete";
}

<div>
    <a class="text-info" asp-action="Index">Back to List</a>
</div>

<h1 class="text-danger">Delete</h1>

<h3 class="text-danger">Are you sure you want to delete this?</h3>
<div>
    <dl class="row jumbodm text-white">
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.IDNumber)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q1_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q1_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q2)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q2_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q2_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q3)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q4)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q7)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q7)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q8)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q8)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10_2)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10_3)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10_4)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ProblemsDiagnosis)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ProblemsDiagnosis)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ManagementFT)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ManagementFT)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.DateFollowup)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.DateFollowup)
        </dd>
        @*<dt class="col-md-8">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.CreatedByUser)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ModifiedByUser)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ModifiedByUser)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Edited)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Edited)
        </dd>*@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="text-info" asp-action="Index">Back to List</a>
    </form>
</div>
