@model BHAMCApp.Models.FTMTOTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_BhMtoto.cshtml";
}

<div>
    <a class="text-info" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="text-info" asp-action="Index">Back to List</a>
</div>

<div>
    <dl class="row jumbodm text-white">
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.IDNumber)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Tarehe)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Tarehe)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.SexMt)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.SexMt)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.TareheKuzaliwa)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.TareheKuzaliwa)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.UmriMtotoMiezi)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.UmriMtotoMiezi)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q2)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q3)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q3_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q3_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q3_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q3_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q4)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_1_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_1_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_1_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_1_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_1_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_1_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_1_e)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_1_e)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_2_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_2_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_2_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_2_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_2_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_2_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_2_e)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_2_e)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_3_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_3_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_3_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_3_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_3_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_3_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_3_e)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_3_e)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_4_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_4_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_4_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_4_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_4_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_4_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_4_e)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_4_e)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_5_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_5_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_5_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_5_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_5_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_5_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5_5_e)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5_5_e)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_1_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_1_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_2)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_2_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_2_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_3)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_3_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_3_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_4)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_4_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_4_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_5)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_5_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_5_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_6)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_6_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_6_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_7)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_7)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_7_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_7_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_8)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_8)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_8_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_8_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q7)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q7)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q7_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q7_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q8)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q8)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q8_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q8_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_a_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_a_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_a_2)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_a_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_a_3)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_a_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_a_4)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_a_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_a_5)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_a_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_b_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_b_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_b_2)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_b_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_b_3)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_b_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_b_4)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_b_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_b_5)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_b_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_c_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_c_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_c_2)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_c_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_c_3)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_c_3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_c_4)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_c_4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9_c_5)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9_c_5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10_d)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10_d)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10_e)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10_e)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q11_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q11_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q11_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q11_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q11_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q11_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q12_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q12_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q12_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q12_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q12_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q12_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q13_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q13_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q13_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q13_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q13_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q13_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q13_d)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q13_d)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q13_e)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q13_e)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q13_f)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q13_f)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q14_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q14_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q14_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q14_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q14_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q14_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q14_d)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q14_d)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q14_e)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q14_e)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q14_f)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q14_f)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q14_g)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q14_g)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q15_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q15_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q15_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q15_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q15_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q15_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q15_d)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q15_d)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q15_e)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q15_e)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q15_f)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q15_f)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q15_g)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q15_g)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q15_h)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q15_h)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q16_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q16_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q16_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q16_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q16_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q16_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q17_a)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q17_a)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q17_b)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q17_b)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q17_c)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q17_c)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ProblemsDsis)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ProblemsDsis)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.MedicationPres)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.MedicationPres)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Date3Month)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Date3Month)
        </dd>
        
    </dl>
</div>

    <div>
        <a class="text-info" asp-action="Edit" asp-route-id="ID">Edit</a> |
        <a class="text-info" asp-action="Index">Back to List</a>
    </div>

