@model BHAMCApp.Models.F15_24MAMA

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_BhMama.cshtml";
}

<div>
    <a class="text-info" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a class="text-info" asp-action="Index">Back to List</a>
</div>

<div>
    <dl class="row jumbodm text-white">
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.IDNumber)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.IDNumber)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q1_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q1_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q2)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q2_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q2_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q3)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q3)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q4)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q4)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q4_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q4_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q4_2)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q4_2)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q5)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q5)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q6_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q6_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q7)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q7)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q8)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q8)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q9)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q9)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q10_1)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q10_1)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Q11)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Q11)
        </dd>
        @*<dt class="col-md-8">
            @Html.DisplayNameFor(model => model.CreatedByUser)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.CreatedByUser)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ModifiedByUser)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ModifiedByUser)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class="col-md-8">
            @Html.DisplayNameFor(model => model.Edited)
        </dt>
        <dd class="col-md-4  text-info">
            @Html.DisplayFor(model => model.Edited)
        </dd>*@
    </dl>
</div>
<div>
    <a class="text-info" asp-action="Edit" asp-route-id="ID">Edit</a> |
    <a class="text-info" asp-action="Index">Back to List</a>
</div>
