@model IEnumerable<BHAMCApp.Models.F15_24MAMA>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BhMama.cshtml";
}

@*<p>
    <a class="text-info" asp-action="Create">Create New</a>
</p>*@
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a type="button" asp-action="Create" class="btn btn-sm btn-outline-secondary">Create New</a>
            <a type="button" asp-action="F15_24" class="btn btn-sm btn-outline-secondary">Export-excel</a>
        </div>
    </div>
</div>
<table class="table table-bh text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q1)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Q1_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q2_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q4_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q4_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q6_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q10_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edited)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q1)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Q1_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q2_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q4_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q4_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q6_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q10_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Q11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedByUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedByUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edited)
        </td>*@
            <td>
                <a class="text-info" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="text-info" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a class="text-info" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
