@model IEnumerable<BHAMCApp.Models.F48MAMA>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BhMtoto.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiakaMoshi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateKuzaliwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UmriMama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q2_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q3_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q4_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q8_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q8_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q9_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q9_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q9_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q11_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q13_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q13_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q13_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q16_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q17_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q19)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q19_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q19_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q20_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q20_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q20_2_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q20_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q20_3_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q22_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q24)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q25)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q25_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q26)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q27)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q27_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q27_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q27_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q28)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q28_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q29)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q30)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q31)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q31_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q31_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q31_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q31_4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q31_5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q32)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q32_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q32_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q32_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q32_4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q32_5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q32_6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q33)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q33_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q34)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q35_1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q35_2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q35_3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q36)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q37)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q38)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q39)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q40)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q41)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q42)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q43)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Q44)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemsDiagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagementFT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVisit52)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedByUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edited)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiakaMoshi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateKuzaliwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UmriMama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q2_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q3_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q4_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q8_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q8_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q9_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q9_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q9_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q11_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q13_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q13_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q13_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q16_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q17_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q19_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q19_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q20_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q20_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q20_2_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q20_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q20_3_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q22_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q25_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q27_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q27_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q27_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q28_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q31)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q31_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q31_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q31_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q31_4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q31_5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q32)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q32_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q32_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q32_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q32_4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q32_5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q32_6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q33)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q33_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q34)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q35_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q35_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q35_3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q36)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q37)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q38)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q39)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q40)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q41)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q42)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q43)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Q44)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemsDiagnosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagementFT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVisit52)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedByUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedByUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edited)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
