@model IEnumerable<BHAMCApp.Models.FKMMTOTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BhMtoto.cshtml";
}

<p>
    <a class="text-info" asp-action="Create">Create New</a>
</p>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a type="button" asp-action="Create" class="btn btn-sm btn-outline-secondary">Create New</a>
            <a type="button" asp-action="Fkmbili" class="btn btn-sm btn-outline-secondary">Export-excel</a>
        </div>
    </div>
</div>
<table class="table table-bh text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarehe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SexMt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TareheKuzaliwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UmriMtotoMiezi)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Q1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q1_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q1_1_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q1_1_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q1_1_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q2_2_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q2_2_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q2_2_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q3_3_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q3_3_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q3_3_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_4_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_4_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_4_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q5_5_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q5_5_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q5_5_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_5_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_5_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_5_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q7_5_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q7_5_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q7_5_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q8_5_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q8_5_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q8_5_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_1_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_2_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_3_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_4_aa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_5_aa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_6)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_6_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_7_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_8)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q4_8_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q5_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_a_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_a_2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_a_3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_a_4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_a_5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_b_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_b_2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_b_3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_b_4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_b_5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_c_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_c_2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_c_3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_c_4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_c_5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_d_1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_d_2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_d_3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_d_4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q6_d_5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q10_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q10_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q10_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q10_d)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q10_e)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q11_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q11_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q11_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q12_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q12_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q12_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q13_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q13_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q13_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q13_d)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q13_e)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q13_f)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q14_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q14_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q14_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q14_d)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q14_e)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q14_f)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q14_g)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q15_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q15_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q15_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q15_d)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q15_e)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q15_f)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q15_g)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q15_h)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q16_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q16_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q16_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q17_a)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q17_b)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Q17_c)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProblemsDsis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MedicationPres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date6Month)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedByUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedByUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Edited)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarehe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SexMt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TareheKuzaliwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UmriMtotoMiezi)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Q1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q1_1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q1_1_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q1_1_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q1_1_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q2_2_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q2_2_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q2_2_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q3_3_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q3_3_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q3_3_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_4_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_4_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_4_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q5_5_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q5_5_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q5_5_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_5_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_5_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_5_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q7_5_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q7_5_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q7_5_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q8_5_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q8_5_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q8_5_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_1_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_2_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_3_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_4_aa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_5_aa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_6)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_6_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_7)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_7_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_8)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q4_8_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q5_1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_a_1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_a_2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_a_3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_a_4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_a_5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_b_1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_b_2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_b_3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_b_4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_b_5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_c_1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_c_2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_c_3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_c_4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_c_5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_d_1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_d_2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_d_3)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_d_4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q6_d_5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q10_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q10_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q10_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q10_d)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q10_e)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q11_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q11_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q11_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q12_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q12_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q12_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q13_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q13_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q13_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q13_d)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q13_e)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q13_f)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q14_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q14_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q14_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q14_d)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q14_e)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q14_f)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q14_g)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q15_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q15_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q15_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q15_d)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q15_e)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q15_f)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q15_g)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q15_h)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q16_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q16_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q16_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q17_a)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q17_b)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Q17_c)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProblemsDsis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MedicationPres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date6Month)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedByUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Edited)
                    </td>*@
            <td>
                <a class="text-info" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a class="text-info" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a class="text-info" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>
